html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

#section_gauche {
  float: left;
  margin: 0px 20px;
  width :380px;
  height: 100%;
  position: fixed;
  background: #FDE675
  }
#section_droite {
  float: right;
  margin : 22px 58px 0 80px
}
.centrer {
  margin: 10px 0 0 40px
}
ul {
  list-style: none
}
h1 {
	font-size: 32px;
	font-family: sans-serif;
}
h2 {
	margin: 0px 0 10px 15px;
	font-size: 20px
}
h3 {
  margin-bottom: 20px;
	font-weight: bold;
	font-size: 25px;
	color : #008080;
	font-family: sans-serif;
	text-transform: uppercase
}
h5 {
  margin-bottom: 12px;
	font-weight: bold;
	text-transform: uppercase
}
h6 {
	margin: -25px 0 0 32px
}
#maintitle {
  margin-top: 10px;
  padding: 10px 5px 8px 10px;
  background: #008080;
  width: 400px;
  color: white
}

.address {
margin-right: 20px
}
.title_right {
  margin-bottom: 10px
}
.lieu {
  margin-left: 50px;
	font-weight: lighter
}
.info {
	margin-left: 10px;
	font-style: italic;
	font-family: monospace;
	font-size: 15px;
	color: #008080
}
.bac {
	font-weight: bold
}
.aligner {
	display : inline-block
}
.cote {
	display: inline-block;
	margin-top: 38px
}
#home {
	width: 90px;
	display: inline-block;
	margin :0 0 -9px -32px
}
#langues {
	width: 90px;
	display: inline-block;
	margin : 0 0 10px -32px
}
#competences {
	width: 90px;
	display: inline-block;
	margin : 0 0 82px -32px
}
#hobies {
	width: 90px;
	display: inline-block;
	margin : 0 0 30px -32px
}
#exp {
	width: 90px;
	display: inline-block;
	margin: 0 0 -62px -95px
}
#formation {
	width: 90px;
	display: inline-block;
	margin: 0 0 -58px -95px
}
